<div class="trabajos-container">
    
    <div class="trabajos-left-menu">
        <h1 class="trabajos-title">NUESTROS TRABAJOS</h1>

        <div class="menu-trabajos-container">
            
            <button 
                *ngFor="let trabajo of trabajosData"
                class="trabajo-button" 
                
                [ngClass]="{'active-menu': trabajo.id === trabajoActivoId}" 
                
                (click)="cambiarTrabajo(trabajo.id)">
                {{ trabajo.menuLabel }}
            </button>
        </div>
    </div>

    <div class="content-container">

        <div 
          *ngIf="getActiveTrabajo() as trabajo" 
          class="trabajos-right-content active-content" 
          
          [style.background-color]="trabajo.bgColor"> 
            
            <div class="trabajo-info-box">
                <h2 class="content-title">{{ trabajo.title }}</h2>
                
                <p class="content-description">
                    {{ trabajo.description }}
                </p>

                <div class="content-duration">
                    <p>
                        <span>{{ trabajo.duration }}</span>
                        <br>
                        (dependiendo del tipo de piel y cuidados posteriores)
                    </p>
                </div>
                
                <span class="nav-arrow">&gt;</span>
            </div>

            <div class="trabajo-image-box">
                <img [src]="'/assets/trabajo/' + trabajo.imagePath" [alt]="'Resultado de ' + trabajo.title">
            </div>
        </div>
        
    </div>
    
</div>