<div class="trabajos-container">
    
    <div class="trabajos-left-menu">
        <h1>NUESTROS TRABAJOS</h1>

        <div class="menu-trabajos-container">
            
            <button 
                *ngFor="let trabajo of trabajosData"
                class="trabajo-button" 
                
                [ngClass]="{'active-menu': trabajo.id === trabajoActivoId}" 
                
                (click)="cambiarTrabajo(trabajo.id)">
                {{ trabajo.menuLabel }}
            </button>
        </div>
    </div>

    <div class="content-container">

        <div 
          *ngIf="getActiveTrabajo() as trabajo" 
          class="trabajos-right-content active-content" 
          
          [style.background-color]="trabajo.bgColor" 
            id="trabajo-content">
            <div class="trabajo-info-box">
                <h1 style="text-align: center;">{{ trabajo.title }}</h1>
                
                <p class="content-description">
                    {{ trabajo.description }}
                </p>

                <div class="content-duration">
                        <span>{{ trabajo.duration }}</span>
                </div>
                    <p>
                     <span>{{ trabajo.cuidado }}</span>
                    </p>
                   
              

                
            </div>

            <div class="trabajo-image-box">
                <img [src]="'/assets/trabajo/' + trabajo.imagePath" [alt]="'Resultado de ' + trabajo.title">
            </div>
        </div>
        
    </div>
    
</div>